@using Dependencies;
@using EPAM.SocialNetwork.BLL.Interfaces
@using Entities;

@{if (!User.IsInRole("user"))
    {
        Response.Redirect("~/Pages/Login.cshtml");
    }
}

@{
    Layout = "~/Pages/Layouts/_BasicLayout.cshtml";
    ILogic logic = DependencyResolver.GetInstance().UserLogic;
    IMessageLogic messageLogic = DependencyResolver.GetInstance().MessageLogic;

    User currentUser = logic.GetUser(User.Identity.Name);
    List<Message> messages = messageLogic.GetMessageHistory(currentUser.Id);

    string userImage;

    if (string.IsNullOrEmpty(currentUser.ImagePath))
    {
        userImage = @"../UsersImages/DefaultUserIcon.png";
    }

    else
    {
        userImage = currentUser.ImagePath;
    }
}
<div class="UserPage_Style">
    <header class="head"><img src="@userImage" class="Icon"> User full name: @currentUser.FirstName @currentUser.LastName </header>

    <div class="Content">
        <div class="Content_Left">
            @*<div class="row">
                    <div class="col-4">
                        <div class="list-group" id="list-tab" role="tablist">
                            <a class="list-group-item list-group-item-action active" id="list-home-list" data-bs-toggle="list" href="#list-home" role="tab" aria-controls="list-home">Home</a>
                            <a class="list-group-item list-group-item-action" id="list-profile-list" data-bs-toggle="list" href="#list-profile" role="tab" aria-controls="list-profile">Profile</a>
                            <a class="list-group-item list-group-item-action" id="list-messages-list" data-bs-toggle="list" href="#list-messages" role="tab" aria-controls="list-messages">Messages</a>
                            <a class="list-group-item list-group-item-action" id="list-settings-list" data-bs-toggle="list" href="#list-settings" role="tab" aria-controls="list-settings">Settings</a>
                        </div>
                    </div>
                </div>*@
        </div>

        <div class="Content_Middle">
            @*<div class="col-8">
                    <div class="tab-content" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list">message history</div>
                        <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">message history</div>
                        <div class="tab-pane fade" id="list-messages" role="tabpanel" aria-labelledby="list-messages-list">message history</div>
                        <div class="tab-pane fade" id="list-settings" role="tabpanel" aria-labelledby="list-settings-list">message history</div>
                    </div>
                </div>*@

            <div class="Message_History">
                @*<div class="Message">
                    <p>Hello</p>
                    <p>@DateTime.Now.ToString("dd.MM.yyyy")</p>
                </div>

                <div class="Message Recieved">
                    <p>Bye</p>
                    <p>@DateTime.Now.ToString("dd.MM.yyyy")</p>
                </div>*@

                @{
                    for (int i = 0; i < messages.Count; i++)
                    {
                        <div class="Message">
                            <p>@messages[i].MessageText</p>
                            <p>@messages[i].CreationDate</p>
                        </div>
                    }
                }
            </div>

            <textarea class="TextField"></textarea>
        </div>

        <div class="Content_Right">some settings</div>
    </div>

    <footer>hi :)</footer>

    <button id="toProfilePage" class="Button_PageSwap" name="registerBtn" type="button">Personal page</button>
</div>

<script>
    $('#toProfilePage').click(function () {
        location.href = '/Pages/UserGuestPage.cshtml';
    })
</script>