@using Dependencies;
@using EPAM.SocialNetwork.BLL.Interfaces
@using Entities;

@{if (!User.IsInRole("user"))
    {
        Response.Redirect("~/Pages/Login.cshtml");
    }
}

@{
    Layout = "~/Pages/Layouts/_BasicLayout.cshtml";

    ILogic logic = DependencyResolver.GetInstance().UserLogic;

    User currentUser = logic.GetUser(User.Identity.Name);
    User viewedUser;

    if (Request.QueryString.Count != 0 && Request.QueryString.AllKeys.Contains("viewedUser"))
    {
        viewedUser = logic.GetUser(Request.QueryString.Get("viewedUser"));
    }

    else
    {
        viewedUser = currentUser;
    }

    string viewedUserLogin = viewedUser.Login;

    string userImage;

    if (string.IsNullOrEmpty(viewedUser.Image))
    {
        userImage = @"../UsersImages/DefaultUserIcon.png";
    }

    else
    {
        userImage = @"../UsersImages/" + viewedUser.Image;
    }

    if (IsPost)
    {
        if (Request.Form.AllKeys.Contains("addFriendButton"))
        {
            logic.AddFriend(currentUser.Id, viewedUser.Id);
        }

        if (Request.Form.AllKeys.Contains("removeFriendButton"))
        {
            logic.RemoveFriend(currentUser.Id, viewedUser.Id);
        }

        if (Request.Form.AllKeys.Contains("deleteAccaunt"))
        {
            logic.DeleteUser(currentUser.Id);
            FormsAuthentication.SignOut();
            Response.Redirect("~/Pages/Login.cshtml");
        }
    }

    if (Request.HttpMethod == "GET")
    {
        if (Request.QueryString.AllKeys.Contains("editButton"))
        {
            Response.Redirect("~/Pages/UserEdit.cshtml?editUser=" + Request.QueryString.Get("viewedUserLogin"));
        }
    }
}

<div class="UserInfo_Container">
    <div class="Left_Data Data_Border">
        <div class="Text_Container Border_Line__Bottom">
            <p class="Label_Login">@viewedUser.Login</p>
        </div>
        <div class="Image_Container Border_Line__Bottom">
            <img src="@userImage" class="Profile_Image">
        </div>
        @{
            if (currentUser.Login != viewedUser.Login)
            {
                if (logic.IsFriend(currentUser.Login, Request.QueryString.Get("viewedUser")))
                {
                    <form method="post">
                        <input type="submit" value="Remove from friends" name="removeFriendButton">
                    </form>
                }

                else
                {
                    <form method="post">
                        <input type="submit" value="Add to friend" name="addFriendButton">
                    </form>
                }
            }

            if (currentUser.Login == viewedUser.Login || User.IsInRole("admin"))
            {
                <form method="post">
                    <input class="ProfileManage_Buttom Delete_Accaunt" type="submit" value="Delete accaunt" name="deleteAccauntButton">
                </form>

                <form method="get">
                    <input class="ProfileManage_Buttom" type="submit" value="Edit profile info" name="editButton">
                    <input type="hidden" name="viewedUserLogin" value="@viewedUser.Login" />
                </form>
            }
        }
    </div>

    <div class="Right_Data Data_Border">
        <!-- data that will be shown
        First name
        Last name
        Date of birth
        Age(?)
        Friend count(?)
        -->

        @{
            string firstNameData = viewedUser.FirstName == null ? "(no info)" : viewedUser.FirstName;
            string lastNameData = viewedUser.LastName == null ? "(no info)" : viewedUser.LastName;

            string birthDateData = viewedUser.DateOfBirth == null ? "(no info)" : DateTime.Parse(viewedUser.DateOfBirth.ToString()).ToString("dd.MM.yyyy");

            string ageData = viewedUser.Age == null ? "(no info)" : viewedUser.Age.ToString();
        }

        <div class="Table_Lable Right_Flex">
            <p class="Label_Element pNoDefMargin">First name:</p>
            <div class="Horizontal_Line"></div>
            <p class="Label_Element pNoDefMargin">Last name:</p>
            <div class="Horizontal_Line"></div>
            <p class="Label_Element pNoDefMargin">Date of birth:</p>
            <div class="Horizontal_Line"></div>
            <p class="Label_Element pNoDefMargin">Age:</p>
        </div>

        <div class="Table_Data Right_Flex">
            <p class="Label_Element pNoDefMargin">@firstNameData</p>
            <div class="Horizontal_Line"></div>
            <p class="Label_Element pNoDefMargin">@lastNameData</p>
            <div class="Horizontal_Line"></div>
            <p class="Label_Element pNoDefMargin">@birthDateData</p>
            <div class="Horizontal_Line"></div>
            <p class="Label_Element pNoDefMargin">@ageData</p>
        </div>
    </div>
</div>