@using Dependencies;
@using EPAM.SocialNetwork.BLL.Interfaces
@using Entities;

@{if (!User.IsInRole("user"))
    {
        Response.Redirect("~/Pages/Login.cshtml");
    }
}

@{
    Layout = "~/Pages/Layouts/_BasicLayout.cshtml";
    ILogic logic = DependencyResolver.GetInstance().UserLogic;
    IMessageLogic messageLogic = DependencyResolver.GetInstance().MessageLogic;

    User currentUser = logic.GetUser(User.Identity.Name);
    List<Message> messages = messageLogic.GetMessageHistory(currentUser.Id);
    List<User> friends = logic.GetUserFriends(currentUser.Id);

    string userImage;

    if (string.IsNullOrEmpty(currentUser.ImagePath))
    {
        userImage = @"../UsersImages/DefaultUserIcon.png";
    }

    else
    {
        userImage = currentUser.ImagePath;
    }

    if (IsPost)
    {
        if (Request.Form.AllKeys.Contains("sendMessage"))
        {
            var n = Request.Form.Get(1);
            //messageLogic.SendMessage(currentUser, new User(1, "polich"), "UwU", DateTime.Now); // temporary
        }
    }
}
<div class="UserPage_Style">
    <header class="head"><img src="@userImage" class="Icon"> User full name: @currentUser.FirstName @currentUser.LastName </header>

    <div class="Content">
        <div class="Content_Left">
            @{
                for (int i = 0; i < friends.Count; i++)
                {
                    <p>@friends[i].Login</p>
                }
            }
        </div>

        <div class="Content_Middle">
            <form method="get" class="Message_History">
                @{
                    for (int i = 0; i < messages.Count; i++)
                    {
                        <div class="Message">
                            @{
                                if (messages[i].Addresse.Id == currentUser.Id)
                                {
                                    <div class="Message Recieved">
                                        <p>@messages[i].Sender.Login</p>
                                        <p>@messages[i].MessageText</p>
                                        <p>@messages[i].CreationDate.ToString("dd.MM.yyyy")</p>
                                    </div>
                                }

                                else
                                {
                                    <div class="Message">
                                        <p>@messages[i].MessageText</p>
                                        <p>@messages[i].CreationDate.ToString("dd.MM.yyyy")</p>
                                    </div>
                                }
                            }
                        </div>
                    }
                }
            </form>

            <form id="messageInputId" method="get" name="inputMessageField">
                <input id="msgId" type="text" name="msgInp" required form="sendMessageId">
                @*<textarea id="txtId" required form="messageInputId" class="TextField"></textarea>*@
            </form>

            <form method="post">
                <input id="sendMessageId" type="submit" name="sendMessage" value="Send">
                <input id="sendGetMsg" type="hidden" name="translatedValue">
            </form>>
        </div>

        <div class="Content_Right">
            <p>Pearsonal page(will be option for edit)</p>
            <p>Sign out prob?</p>
        </div>
    </div>

    <footer>hi :)</footer>

    <form method="get">
        <button id="toProfilePage" class="Button_PageSwap" name="registerBtn" type="button">Personal page</button>
        <button id="toSearchPage" class="Button_PageSwap" name="searchBtn" type="button">Search page</button>
    </form>
</div>

<script>
    $('#toProfilePage').click(function () {
        location.href = '/Pages/UserGuestPage.cshtml';
    })
</script>

<script>
    $('#toSearchPage').click(function () {
        location.href = '/Pages/UserSearch.cshtml';
    })
</script>

<script>
    $('#txtId').on('input property change', function() {
        if (this.value.length) {
            $("#sendMessageId").val = this.value;
        }
    });
</script>