@using Dependencies;
@using EPAM.SocialNetwork.BLL.Interfaces
@using Entities;

@{if (!User.IsInRole("user"))
    {
        Response.Redirect("~/Pages/Login.cshtml");
    }
}

@{
    Layout = "~/Pages/Layouts/_BasicLayout.cshtml";

    ILogic logic = DependencyResolver.GetInstance().UserLogic;

    User currentUser = logic.GetUser(User.Identity.Name);

    string fn = currentUser.FirstName == null ? "(no info)" : currentUser.FirstName;
    string ln = currentUser.LastName == null ? "(no info)" : currentUser.LastName;
    string bd = currentUser.DateOfBirth == null ? "(no info)" : currentUser.DateOfBirth.ToString();

    string userImage;

    if (string.IsNullOrEmpty(currentUser.ImagePath))
    {
        userImage = @"../UsersImages/DefaultUserIcon.png";
    }

    else
    {
        userImage = currentUser.ImagePath;
    }
}

<div class="UserInfo_Container">
    <div class="Left_Data Data_Border">
        <div class="Text_Container Border_Line__Bottom">
            <p class="Label_Login">@currentUser.Login</p>
        </div>
        <div class="Image_Container Border_Line__Bottom">
            <img src="@userImage" class="Profile_Image">
        </div>
        <button>Add friend</button>
        <button>Delete from friends</button>
    </div>

    <div class="Right_Data Data_Border">
        <!-- data that will be shown
        First name
        Last name
        Date of birth
        Age(?)
        Friend count(?)
        -->

        <div class="Table_Lable">
            <p class="Border_Line__Bottom">First name</p>
            <p class="Border_Line__Bottom">Last name</p>
            <p>Date of birth</p>
            @*<p></p>
                <p></p>*@
        </div>

        <div class="Table_Data">
            <p class="Border_Line__Bottom">@fn</p>
            <p class="Border_Line__Bottom">@ln</p>
            <p>@bd</p>
            @*<p></p>
                <p></p>*@
        </div>
    </div>
</div>

<!--Template-->
@*@{if (!User.IsInRole("user"))
        {
            Response.Redirect("~/Pages/Login.cshtml");
        }
    }

    @{
        Layout = "~/Pages/Layouts/_BasicLayout.cshtml";
    }*@