@using Dependencies
@using EPAM.SocialNetwork.BLL.Interfaces
@using Entities

@{if (!User.IsInRole("user"))
    {
        Response.Redirect("~/Pages/Login.cshtml");
    }
}

@{
    Layout = "~/Pages/Layouts/_BasicLayout.cshtml";
    ILogic logic = DependencyResolver.GetInstance().UserLogic;

    User currentUser = logic.GetUser(User.Identity.Name);
    List<User> friends = logic.GetUserFriends(currentUser.Id);

    string userImage;

    if (string.IsNullOrEmpty(currentUser.Image))
    {
        userImage = @"../UsersImages/DefaultUserIcon.png";
    }

    else
    {
        userImage = @"../UsersImages/" + currentUser.Image;
    }

    if (Request.HttpMethod == "GET")
    {
        if (Request.QueryString.AllKeys.Contains("redirectToUser"))
        {
            Response.Redirect("~/Pages/UserPersonalPage.cshtml?viewedUser=" + Request.QueryString.Get("hiddenUserLogin"));
        }

        if (Request.QueryString.AllKeys.Contains("redirectToPersonalPage"))
        {
            Response.Redirect("~/Pages/UserPersonalPage.cshtml");
        }

        if (Request.QueryString.AllKeys.Contains("getMessageHistory"))
        {

        }
    }
}
<div class="UserPage_Style">
    <header class="User_Header"><img src="@userImage" class="Icon">@currentUser.Login</header>

    <div class="Content">
        <div class="Content_Left">
            <p class="Bold">Friend list:</p>
            @{
                for (int i = 0; i < friends.Count; i++)
                {
                    <form method="get">
                        <input type="submit" class="Select_Friend" value="@friends[i].Login" name="getMessageHistory" onclick="clearMessageHistory()" />
                        <input type="submit" class="Visit_Button" value="Go to user page" name="redirectToUser">
                        <input type="hidden" value="@friends[i].Login" name="hiddenUserLogin" />
                    </form>
                }
            }
        </div>

        <div class="Content_Middle">
            @{
                if (Request.QueryString.AllKeys.Contains("getMessageHistory"))
                {
                    @RenderPage("~/Pages/Layouts/_MessageHistory.cshtml");
                }

                else
                {
                    <p>Choose user to start dialog</p>
                }
            }
        </div>

        <div class="Content_Right">
            <form method="get">
                <input type="submit" name="redirectToPersonalPage" value="Personal info"/>
            </form>
            <input id="sginOut" type="button" value="Sign out" />
        </div>
    </div>

    <footer>hi :)</footer>

    <form method="get">
        <button id="toProfilePage" class="Button_PageSwap" name="registerBtn" type="button">Personal page</button>
        <button id="toSearchPage" class="Button_PageSwap" name="searchBtn" type="button">Search page</button>
    </form>
</div>

<script>
    $('#toProfilePage').click(function () {
        location.href = '/Pages/UserPersonalPage.cshtml';
    })
</script>

<script>
    $('#toSearchPage').click(function () {
        location.href = '/Pages/UserSearch.cshtml';
    })
</script>

<script>
    $('#sginOut').click(function () {
        location.href = '/Pages/LogOut.cshtml';
    })
</script>

<script>
    $('#txtId').on('input property change', function() {
        if (this.value.length) {
            $("#sendMessageId").val = this.value;
        }
    });
</script>

<script>
    function testFunc() {
        $.ajax({
            type: "POST",
            url: "~/Pages/UserPage.cshtml",
            data: {},
            dataType: "text",
            success: function (response) {
                $.each(response, function (sender, addresse, msg) {
                    $("#output").append('<p>' + msg.MessageText + '</p>')
                });
            },
            failure: function () { alert("error was occured") },
        });
    }
</script>

<script>
    function clearMessageHistory() {
        document.getElementById('msgHistory').innerHTML = "";
    }
</script>