@using Dependencies
@using EPAM.SocialNetwork.BLL.Interfaces
@using Entities

@{if (!User.IsInRole("user"))
    {
        Response.Redirect("~/Pages/Login.cshtml");
    }
}

@{
    Layout = "~/Pages/Layouts/_BasicLayout.cshtml";
    ILogic logic = DependencyResolver.GetInstance().UserLogic;

    User currentUser = logic.GetUser(User.Identity.Name);
    List<User> friends = logic.GetUserFriends(currentUser.Id);

    string userImage;

    if (string.IsNullOrEmpty(currentUser.Image))
    {
        userImage = @"../UsersImages/DefaultUserIcon.png";
    }

    else
    {
        userImage = currentUser.Image;
    }

    if (Request.HttpMethod == "GET")
    {
        if (Request.QueryString.AllKeys.Contains("redirectToUser"))
        {
            Response.Redirect("~/Pages/UserGuestPage.cshtml?viewedUser=" + Request.QueryString.Get("hiddenUserLogin"));
        }

        if (Request.QueryString.AllKeys.Contains("redirectToPersonalPage"))
        {
            Response.Redirect("~/Pages/UserGuestPage.cshtml");
        }

        if (Request.QueryString.AllKeys.Contains("getMessageHistory"))
        {

        }
    }
}
<div class="UserPage_Style">
    <header class="head"><img src="@userImage" class="Icon"> User full name: @currentUser.FirstName @currentUser.LastName </header>

    <div class="Content">
        <div class="Content_Left">
            @{
                for (int i = 0; i < friends.Count; i++)
                {
                    <form method="get">
                        <input type="submit" value="@friends[i].Login" name="getMessageHistory" onclick="clearMessageHistory()"/>
                        <input type="submit" value="Go to user page" name="redirectToUser">
                        <input type="hidden" value="@friends[i].Login" name="hiddenUserLogin"/>
                    </form>
                }
            }
        </div>

        <div class="Content_Middle">
            @{
                if (Request.QueryString.AllKeys.Contains("getMessageHistory"))
                {
                    @RenderPage("~/Pages/Layouts/_MessageHistory.cshtml");
                }

                else
                {
                    <p>Choose user to start dialog</p>
                }
            }
        </div>

        <div class="Content_Right">
            <form method="get">
                <input type="submit" name="redirectToPersonalPage" value="Personal info"/>
            </form>
            <p>Sign out prob?</p>
        </div>
    </div>

    <footer>hi :)</footer>

    <form method="get">
        <button id="toProfilePage" class="Button_PageSwap" name="registerBtn" type="button">Personal page</button>
        <button id="toSearchPage" class="Button_PageSwap" name="searchBtn" type="button">Search page</button>
    </form>
</div>

<script>
    $('#toProfilePage').click(function () {
        location.href = '/Pages/UserGuestPage.cshtml';
    })
</script>

<script>
    $('#toSearchPage').click(function () {
        location.href = '/Pages/UserSearch.cshtml';
    })
</script>

<script>
    $('#txtId').on('input property change', function() {
        if (this.value.length) {
            $("#sendMessageId").val = this.value;
        }
    });
</script>

<script>
    function testFunc() {
        $.ajax({
            type: "POST",
            url: "~/Pages/UserPage.cshtml",
            data: {},
            dataType: "text",
            success: function (response) {
                $.each(response, function (sender, addresse, msg) {
                    $("#output").append('<p>' + msg.MessageText + '</p>')
                });
            },
            failure: function () { alert("error was occured") },
        });
    }
</script>

<script>
    function clearMessageHistory() {
        document.getElementById('msgHistory').innerHTML = "";
    }
</script>