@using Dependencies
@using EPAM.SocialNetwork.BLL.Interfaces
@using Entities

@{
    ILogic userLogic = DependencyResolver.GetInstance().UserLogic;
    IMessageLogic messageLogic = DependencyResolver.GetInstance().MessageLogic;

    User currentUser = userLogic.GetUser(User.Identity.Name);
    User choosenUser = userLogic.GetUser(Request.QueryString.Get("getMessageHistory"));

    List<Message> messageHistory = messageLogic.GetMessageHistory(currentUser.Id);

    List<Message> dialHistory = messageHistory.Where(a => a.Addresse.Login == choosenUser.Login || a.Sender.Login == choosenUser.Login).ToList();

    if (IsPost)
    {

        if (Request.Form.AllKeys.Contains("deleteMessage"))
        {
            messageLogic.DeleteMessage(Int32.Parse(Request["messageId"]));
        }

        if (Request.Form.AllKeys.Contains("sendMessage"))
        {
            if (Request.Form.Get("sendMessage").Contains("Send"))
            {
                messageLogic.SendMessage(currentUser, choosenUser, Request["messageInput"], DateTime.Now);
            }

            if (Request.Form.Get("sendMessage").Contains("Edit") && !string.IsNullOrEmpty(Request["editMessage"]))
            {
                messageLogic.EditMessage(Int32.Parse(Request["editMessage"]), Request["messageInput"], DateTime.Now);
            }
        }
    }
}

<div class="Message_History overflow-auto">
    @{
        for (int i = 0; i < dialHistory.Count; i++)
        {
            <form id="msgHistory" class="overflow" method="get">
                @{
                    if (dialHistory[i].Addresse.Id == currentUser.Id)
                    {
                        <div class="Message Recieved">
                            <p class="Sender_Login">@dialHistory[i].Sender.Login</p>
                            <p>@dialHistory[i].MessageText</p>
                            @{
                                if (string.IsNullOrEmpty(dialHistory[i].EditDate.ToString()))
                                {
                                    <p>@dialHistory[i].CreationDate.ToString("dd.MM.yyyy")</p>
                                }

                                else
                                {
                                    <p>edit: @DateTime.Parse(dialHistory[i].EditDate.ToString()).ToString("dd.MM.yyyy")</p>
                                }
                            }
                        </div>
                    }

                    else
                    {
                        <div class="Message">
                            <p>@dialHistory[i].MessageText</p>
                            @{
                                if (string.IsNullOrEmpty(dialHistory[i].EditDate.ToString()))
                                {
                                    <p>@dialHistory[i].CreationDate.ToString("dd.MM.yyyy")</p>
                                }

                                else
                                {
                                    <p>edit: @DateTime.Parse(dialHistory[i].EditDate.ToString()).ToString("dd.MM.yyyy")</p>
                                }
                            }
                        </div>
                    }
                }
            </form>
            <div class="Button_Container">
                @{
                    if (dialHistory[i].Addresse.Id == currentUser.Id || User.IsInRole("admin"))
                    {
                        <input id="editBtn" class="Message_Button" type="button" name="editMessage" value="Edit" onclick="changeMessage('@dialHistory[i].Id.ToString()', '@dialHistory[i].MessageText')">
                    }
                }

                <form method="post">
                    <input class="Message_Button Delete" type="submit" name="deleteMessage" value="Delete">
                    <input type="hidden" name="messageId" value="@dialHistory[i].Id">
                </form>
            </div>
        }
    }
</div>


<form method="post" class="Send_Container" name="messageSendForm">
    <input id="messageInputId" type="text" name="messageInput" size="50">
    <input id="sendMessageId" class="Message_Button Send" type="submit" name="sendMessage" value="Send" onclick="changeValue">
    <input id="editMessageId" type="hidden" name="editMessage">
</form>

<script src="~/CustomScripts/MessageScripts.js"></script>